<h1>Rock, Paper, Scissors</h1>
<h2>Click a combination below:</h2>
<div class = "options">
<ul>
  <li><a href="http://localhost:4567/game/rock/scissors">Player 1: <b>Rock</b> vs Player 2: <b>Rock</b></a></li>
  <li><a href="http://localhost:4567/game/rock/paper">Player 1: <b>Rock</b> vs Player 2: <b>Paper</b></a></li>
  <li><a href="http://localhost:4567/game/rock/scissors">Player 1: <b>Rock</b> vs Player 2: <b>Scissors</b></a></li>
  <li><a href="http://localhost:4567/game/paper/rock">Player 1: <b>Paper</b> vs Player 2: <b>Rock</b></a></li>
  <li><a href="http://localhost:4567/game/paper/paper">Player 1: <b>Paper</b> vs Player 2: <b>Paper</b></a></li>
  <li><a href="http://localhost:4567/game/paper/scissors">Player 1: <b>Paper</b> vs Player 2: <b>Scissors</b></a></li>
  <li><a href="http://localhost:4567/game/scissors/rock">Player 1: <b>Scissors</b> vs Player 2: <b>Rock</b></a></li>
  <li><a href="http://localhost:4567/game/scissors/paper">Player 1: <b>Scissors</b> vs Player 2: <b>Paper</b></a></li>
  <li><a href="http://localhost:4567/game/scissors/scissors">Player 1: <b>Scissors</b> vs Player 2: <b>Scissors</b></a></li>
</ul>
</div>
